.header {
    background-color: #313534;
    width: 100%;
    height: 150px;
    border-bottom: 5px solid #9cf35e;
    overflow: hidden;
    position: relative;
}

.header .wrapper {}

.header .main_manu {
    display: inline-block;
    position: absolute;
    right: 200px;
    bottom: 1px;
}

.header .menu ul li {
    float: left;
    list-style-type: none;
}

.header .menu ul li a {
    background-color: #575757;
    padding: 7px 15px;
    display: block;
    text-align: center;
    margin-right: 10px;
    color: white;
    border-radius: 10px 10px 0 0;
    transition: all linear .3s;
}

.header .menu ul li a:hover {
    background-color: #9cf35e;
}

.header .menu ul li .active {
    background-color: #9cf35e;
}

.header .content {
    padding: 20px 0 0 0;
}

.header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
}

.header h1 a {
    color: #9cf35e;
}

.header p {
    color: wheat;
}

.banner {
    margin-top: 30px;
    background: transparent url(../img/banner.jpg) no-repeat;
    background-size: cover;
    /* width: 960px; */
    height: 180px;
    border: 10px solid #DDD;
}

.main {
    margin: 30px 0;
    overflow: hidden;
}

.main .sideber {
    width: 70%;
}

.main .right {
    width: 25%;
}

.main .sideber ul li {
    list-style-type: disc;
}

.main .sideber p {
    padding: 10px 0;
}

.main .sideber a {
    color: #AEB002;
    text-decoration: underline;
}


.main .sideberA .widget {
    padding: 15px 10px;
    border: 1px solid rgba(0, 0, 0, 0.537);
    border-radius: 5px;
}


.main .right .two {
    margin-top: 20px;
}

.main .sideberA .two h2 {
    margin-bottom: 20px;
}

.main .sideberA h3 {
    margin-top: 15px;
    color: #009FBC;
}

.main .sideberA h4 {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.483);
    font-weight: 100;
}

.main .sideberA a {
    text-decoration: underline;
    padding-top: 10px;
    display: block;
    color: #AEB002;
}
.footer {
    background: #313534;
    text-align: center;
}

.footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 0;
    margin-right: 10px;
}

.footer ul li a {
    font-size: 20px;
    text-decoration: none;
    
    
    color: #DDD;
}
